{% extends 'core/base.html' %}

{% block content %}
    <h1>Cadastrar disco</h1>

    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="disk_name">Nome do disco</label>
            <input type="text" class="form-control" id="disk_name" name="disk_name" required>
        </div>

        <div class="form-group">
            <label for="genre">Gênero</label>
            <input type="text" class="form-control" id="genre" name="genre" required>
        </div>

        <div class="form-group">
            <label for="year">Ano de lançamento</label>
            <input type="number" class="form-control" id="year" name="year" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock %}
