{% extends 'core/base.html' %}

{% block content %}
    <h1>Discos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Gênero</th>
                <th>Ano de lançamento</th>
                <th>País</th>
                <th>Selo fonográfico</th>
            </tr>
        </thead>
        <tbody>
            {% for disk in disks %}
                <tr>
                    <td><a href="{% url 'read' disk.id %}">{{ disk.disk_name }}</a></td>
                    <td>{{ disk.genre }}</td>
                    <td>{{ disk.year }}</td>
                    <td>{{ disk.country }}</td>
                    <td>{{ disk.stamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
