{% extends 'base.html' %}

{% block content %}
    <h1>Lista de alunos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>E-mail</th>
                <th>Cidade</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
                <tr>
                    <td><a href="{% url 'visualizar_aluno' aluno.id %}">{{ aluno.nome }}</a></td>
                    <td>{{ aluno.idade }}</td>
                    <td>{{ aluno.email }}</td>
                    <td>{{ aluno.cidade }}</td>
                    <td>{{ aluno.curso }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
